@import "/src/styles/colors";

.Breadcrumb {
  padding-top: 16px;
  padding-bottom: 16px;
  span {
    font-size: 0.875rem;
    color: $text-tertiary;
    &:last-child {
      font-weight: bold;
    }
    &:not(:last-child)::after {
      content: " > ";
    }
  }
}
